---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import ArticlesContent from '~/components/Articles.astro';
import SocialNets from '~/components/SocialNets.astro';
import Footer from '~/components/Footer.astro';
import ResponsiveImage from '~/components/ResponsiveImage.astro';

import { Site } from '~/data/config';
import { articlesDesc } from '~/data/articles';
const title = Site.title;
const language = 'en';
const articlesDescription = articlesDesc[language];
---

<Layout {title}>
  <main>
    <ResponsiveImage imagePath="/images/articles" description={articlesDescription} />

    <div class="maincontent w-col w-col-6 w-col-stack">
      <Header class="header" title={title} active="Articles" language={language} />
      <ArticlesContent language={language} />
      <SocialNets language={language} />
      <Footer language={language} />
    </div>
  </main>
</Layout>
