---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import AboutContent from '~/components/About.astro';
import SocialNets from '~/components/SocialNets.astro';
import Footer from '~/components/Footer.astro';
import ResponsiveImage from '~/components/ResponsiveImage.astro';

import { Site } from '~/data/config';
import { aboutDesc } from '~/data/about';
const title = Site.title;
const language = 'es';
const aboutDescription = aboutDesc[language];
---

<Layout {title}>
  <main>
    <ResponsiveImage imagePath="/images/about" description={aboutDescription} />

    <div class="maincontent w-col w-col-6 w-col-stack">
      <Header class="header" title={title} active="Sobre mí" language={language} />
      <AboutContent language={language} />
      <SocialNets language={language} />
      <Footer language={language} />
    </div>
  </main>
</Layout>
