---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import MediaContent from '~/components/Media.astro';
import SocialNets from '~/components/SocialNets.astro';
import Footer from '~/components/Footer.astro';
import ResponsiveImage from '~/components/ResponsiveImage.astro';

import { Site } from '~/data/config';
import { mediaDesc } from '~/data/media';
const title = Site.title;
const language = 'es';
const mediaDescription = mediaDesc[language];
---

<Layout {title}>
  <main>
    <ResponsiveImage imagePath="/images/media" description={mediaDescription} />

    <div class="maincontent w-col w-col-6 w-col-stack">
      <Header class="header" title={title} active="Media" language={language} />
      <MediaContent language={language} />
      <SocialNets language={language} />
      <Footer language={language} />
    </div>
  </main>
</Layout>
